{% extends 'maqueta.html' %}
{% load staticfiles %}

{% block principal %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/carrusel.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}"> 

<div class="carru">
    <div id="carrusel">
      <div><img src="{% static 'img/album/a1.png' %}"><div id="txtimagen" > 
          <ul></ul>Fecha de lanzamiento: 2015.10.20 <br> 
          Like OOH-AHH <br> 
          Truth <br> 
          Candy Boy <br> 
          Like a Fool <br> 
          </ul>  
      </div> 
      
    
     </div>
      
      <div><img src="{% static 'img/album/a2.jpg' %}"><div id="txtimagen"> </div>
      <ul> 
          Fecha de lanzamiento: 2016.04.25.<br>
          CHEER UP<br>
          Precious Love<br>
          Touchdown<br>
          Tukhamyeon Tok<br>
          Woohoo<br>
          Headphone Sseo<br>
          I’M GONNA BE A STAR<br>
           
        </ul></div>
      <div><img src="{% static 'img/album/a3.jpg' %}"><div id="txtimagen"> </div><ul> 
          Fecha de lanzamiento: 2016.10.24.<br>
         TT<br>
         1 TO 10<br>
         PONYTAIL<br>
         JELLY JELLY<br>
         PIT-A-PAT<br>
         NEXT PAGE<br>
         ONE IN A MILLION<br>
           
        </ul></div>
      <div><img src="{% static 'img/album/a4.png' %}"><div id="txtimagen"> </div><ul> 
          Fecha de lanzamiento:  2017.02.20.<br>
         KNOCK KNOCK <br>
         Melting <br>
         TT <br>
         1 TO 10<br>
         PONYTAIL<br>
         JELLY JELLY<br>
         PIT-A-PAT<br>
         NEXT PAGE<br>
         ONE IN A MILLION<br>
           
        </ul></div>      
      <div><img src="{% static 'img/album/a5.jpg' %}"><div id="txtimagen"> </div> <ul> 
          Fecha de lanzamiento:  2017.05.16.<br>
         SIGNAL     <br>
         Three Times a Day <br>
         Only You <br>
         Hold Me Tight<br>
         Eyes Eyes Eyes<br>
         Someone Like Me<br>
         
        </ul></div>      
      <div><img src="{% static 'img/album/a6.png' %}"><div id="txtimagen"> </div><ul> 
          Fecha de lanzamiento:  2017.10.30.<br>
         LIKEY <br>
         Turtle<br>
         MISSING U<br>
         WOW<br>
         FFW<br>
         DING DONG<br>
         24/7<br>
         LOOK AT ME  <br>
         ROLLIN  <br>
         LOVE LINE <br>
         DONT GIVE UP <br>
         TAKE ME TO YOU <br>
         GOODNIGHT GOODNIGHT  <br>
        </ul></div>      
      <div><img src="{% static 'img/album/a7.png' %}"><div id="txtimagen"> </div><ul> 
         Fecha de lanzamiento:  2018.04.09. <br>
         WHAT IS LOVE? <br>
         SWEET TALKER<br>
         HO! <br>
         DEJAVU<br>
         SAY YES<br>
         STUCK<br>
         
        </ul></div>      
      <div><img src="{% static 'img/album/a8.jpg' %}"><div id="txtimagen"> </div>  <ul> 
         Fecha de lanzamiento:  2018.11.05.<br>
         YES or YES <br>
         SAY YOU LOVE ME<br>
         LALALA <br>
         YOUNG & WILD <br>
         SUNSET<br>
         AFTER MOON<br>
         BDZ (KOREAN VER.)<br>
         
        </ul></div>      
      <div><img src="{% static 'img/album/a9.jpg' %}"><div id="txtimagen"> </div>
      <ul> 
        Fecha de lanzamiento:  2018.11.05<br>
         FANCY <br>
         STUCK IN MY HEAD<br>
         GIRLS LIKE US<br>
         HOT<br>
         TURN IT UP<br>
         STRAWBERRY<br>      
         
        </ul></div></div>
    </div>
</div>

{% endblock %}
