{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block principal %}

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/carrusel.js' %}"></script>
<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}"> 
<link rel="stylesheet" href="{% static 'css/jquery.bxslider.css' %}"> 

<div class="carru">
        <div id="carrusel">
          <div><img src="{% static 'img/backstage/b1.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b2.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b3.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b4.jpg' %}"><div id="txtimagen"> </div></div>      
          <div><img src="{% static 'img/backstage/b5.jpg' %}"><div id="txtimagen"> </div></div>      
          <div><img src="{% static 'img/backstage/b6.jpg' %}"><div id="txtimagen"> </div></div>      
          <div><img src="{% static 'img/backstage/b7.jpg' %}"><div id="txtimagen"> </div></div>      
          <div><img src="{% static 'img/backstage/b8.jpg' %}"><div id="txtimagen"> </div></div>      
          <div><img src="{% static 'img/backstage/b9.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b10.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b11.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b12.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b13.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b14.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b15.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b16.jpg' %}"><div id="txtimagen"> </div></div>
          <div><img src="{% static 'img/backstage/b17.jpg' %}"><div id="txtimagen"> </div></div>

        </div>
    </div>

{% endblock %}