{% extends 'maqueta.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/maqueta.css' %}"> 
{% block principal %}
<div class="box">
<img src="{% static 'img/formito/tw1.jpg' %}" height="450px">
</div>
<form class="formu" method="POST">
  
    <h1>Login Usuario</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <br>
    <input type="submit" value="Ingresar" class="btn-enviar">
   
    {% if mensaje != "" %}
      <script languaje='javascript'>alert('{{mensaje}}')</script>
    {% endif %}

</form>



{% endblock %}