* {
	margin: 0;
	padding: 0;
	font-family:verdana;
	box-sizing: border-box;
}

.contenedor {
	background:#d35abf;
	width: 100%;
	margin:auto;

	display:flex;
	flex-flow:row wrap;
}

body {
	background: rgb(230, 81, 197);
	color: black;
	
}

header {
	width:100%;
	padding:20px;
	background: #ee80dc;

	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction:row;
	flex-wrap:wrap;
}

header .logo {
	color:#fff;
	font-size:30px;
}

header .logo img {
	width:50px;
	vertical-align: top;
}

header .logo a {
	color:#c49d34;
	text-decoration: none;
	line-height:50px;
}

header nav {
	width:50%;


	display:flex;
	flex-direction:row;
	align-items:center;
}

header nav a {
	color:#c40995;
	text-align: center;
	text-decoration: none;
	padding:10px;
}

header nav a:hover {
	background:#8d128d;
}


footer{
	width: 100%;
	background:#e04dc8;
	padding:10px;
}

@media screen and (max-width: 800px){
.contenedor {
	width: 100%;

	display: flex;
	flex-direction:column;
}

header {
	padding:0;

	flex-direction:column;
}

header .logo {
	margin:20px 0;
}

header nav {
	width: 100%;
	margin-right: 0px;

	flex-direction:column;
}

header nav a{
	background:#6dccaa;
	width:100%;
	border: 1px solid #85d4b7;
}

header nav a:hover{
	background:#60b294;
}

form {
    display: inline-block;
    text-align: center;
}
}
